<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Kids Med</title>
</head>

<body>
    <div layout:fragment="conteudo">
        <section class="hero">
            <div class="container">
                <div class="hero-content">
                    <h2 class="hero-title">Encontre profissionais de <span>diversas especialidades</span></h2>
                    <p class="hero-subtitle">e agende a consulta da sua criança com facilidade</p>
                </div>

                <div class="hero-image">
                    <img src="../static/assets/logoKidsMed.png" alt="logo com crianças" th:src="@{/assets/logoKidsMed.png}">
                </div>
            </div>
        </section>
    </div>
</body>
</html>
